ACCESO A LA API DE YAHOO FINANCE

In [1]:
import pandas as pd 
import numpy as np
from pandas_datareader import data
from pytrends.request import TrendReq

VAMOS A SACAR UN DATAFRAME CON TODOS LOS TICKERS QUE TENEMOS EN EL ARCHIVO EXCEL

In [2]:
TICKERS = pd.read_excel("../DATA/tickers.xls")

In [3]:
def yahoo_finance_data():
    #TICKER = str(input("Por favor introduce el ticker de la empresa que desea analizar"))
    TICKER = TICKERS["Ticker"]
    DATA_SOURCE = "yahoo"
    START = str(input("Â¿Desde que fecha desea obtener los datos diarios?--Formato usado: YYYY-MM-DD"))
    DATA_TABLE = data.DataReader(TICKER, DATA_SOURCE,START)
    return DATA_TABLE

In [4]:
DF_COMPANY = yahoo_finance_data()

/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'BKIA.MC', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'DAI.DE', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'AKERBP.OL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'SSO.OL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'SCH.OL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'RDSA.AS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'LHN.SW', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'GVC.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'LSE.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'MRW.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'RB.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'RDSA.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'RSA.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'SLA.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'ATD-B.TO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'BPY-UN.TO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'IPL.TO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'ALXN', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'COG', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'CTL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'CXO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'ETFC', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'FLIR', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'KSU', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'LB', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'MXIM', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'MYL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'NBL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'TIF', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'VAR', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/PabloMontesGrande/miniconda3/envs/FINAL_PROJECT/lib/python3.9/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'WLTW', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [8]:
DF_COMPANY

Attributes Adj Close                                                          \
Symbols       VNG.BK TTA.BK     PSL.BK SCC.BK BBL.BK 3988.HK 0939.HK 2628.HK
Date
2022-01-03       NaN    NaN        NaN    NaN    NaN    2.83    5.44   13.00
2022-01-04      8.10  10.10  17.508196  387.0  125.0    2.88    5.51   13.06
2022-01-05      8.05  10.10  17.897266  388.0  126.5    2.92    5.61   13.14
2022-01-06      7.95   9.90  17.702732  382.0  124.0    2.90    5.55   13.16
2022-01-07      7.85  10.10  18.091803  380.0  124.5    2.97    5.61   13.46
...              ...    ...        ...    ...    ...     ...     ...     ...
2022-04-06       NaN    NaN        NaN    NaN    NaN    3.13    5.91   12.24
2022-04-07      7.25   8.75  15.500000  371.0  137.0    3.14    5.88   12.08
2022-04-08      7.25   8.90  15.900000  368.0  136.5    3.14    5.89   12.26
2022-04-11      7.20   8.80  15.500000  364.0  135.5    3.14    5.86   12.00
2022-04-12      7.20   8.90  15.700000  363.0  135.0    3.12    5.83   12.00

Attributes                        ... Volume                                \
Symbols       3968.HK    0941.HK  ...   ETFC FLIR KSU  LB MXIM MYL NBL TIF
Date                              ...
2022-01-03  60.349998  47.099998  ...    NaN  NaN NaN NaN  NaN NaN NaN NaN
2022-01-04  60.500000  48.000000  ...    NaN  NaN NaN NaN  NaN NaN NaN NaN
2022-01-05  61.750000  49.599998  ...    NaN  NaN NaN NaN  NaN NaN NaN NaN
2022-01-06  60.349998  49.150002  ...    NaN  NaN NaN NaN  NaN NaN NaN NaN
2022-01-07  63.049999  49.700001  ...    NaN  NaN NaN NaN  NaN NaN NaN NaN
...               ...        ...  ...    ...  ...  ..  ..  ...  ..  ..  ..
2022-04-06  62.049999  55.349998  ...    NaN  NaN NaN NaN  NaN NaN NaN NaN
2022-04-07  61.299999  55.299999  ...    NaN  NaN NaN NaN  NaN NaN NaN NaN
2022-04-08  61.599998  55.450001  ...    NaN  NaN NaN NaN  NaN NaN NaN NaN
2022-04-11  58.750000  54.599998  ...    NaN  NaN NaN NaN  NaN NaN NaN NaN
2022-04-12  58.700001  54.650002  ...    NaN  NaN NaN NaN  NaN NaN NaN NaN

Attributes
Symbols    VAR WLTW
Date
2022-01-03 NaN  NaN
2022-01-04 NaN  NaN
2022-01-05 NaN  NaN
2022-01-06 NaN  NaN
2022-01-07 NaN  NaN
...         ..  ...
2022-04-06 NaN  NaN
2022-04-07 NaN  NaN
2022-04-08 NaN  NaN
2022-04-11 NaN  NaN
2022-04-12 NaN  NaN

[72 rows x 5430 columns]

In [27]:
data_final = DF_COMPANY.transpose()

In [28]:
data_final

Date                2022-01-03  2022-01-04  2022-01-05  2022-01-06  \
Attributes Symbols
Adj Close  VNG.BK          NaN    8.100000    8.050000    7.950000
           TTA.BK          NaN   10.100000   10.100000    9.900000
           PSL.BK          NaN   17.508196   17.897266   17.702732
           SCC.BK          NaN  387.000000  388.000000  382.000000
           BBL.BK          NaN  125.000000  126.500000  124.000000
...                        ...         ...         ...         ...
Volume     MYL             NaN         NaN         NaN         NaN
           NBL             NaN         NaN         NaN         NaN
           TIF             NaN         NaN         NaN         NaN
           VAR             NaN         NaN         NaN         NaN
           WLTW            NaN         NaN         NaN         NaN

Date                2022-01-07  2022-01-10  2022-01-11  2022-01-12  \
Attributes Symbols
Adj Close  VNG.BK     7.850000    7.750000    7.700000    7.800000
           TTA.BK    10.100000   10.500000   10.300000   10.200000
           PSL.BK    18.091803   18.480875   18.091803   17.605465
           SCC.BK   380.000000  382.000000  389.000000  390.000000
           BBL.BK   124.500000  126.000000  126.500000  127.000000
...                        ...         ...         ...         ...
Volume     MYL             NaN         NaN         NaN         NaN
           NBL             NaN         NaN         NaN         NaN
           TIF             NaN         NaN         NaN         NaN
           VAR             NaN         NaN         NaN         NaN
           WLTW            NaN         NaN         NaN         NaN

Date                2022-01-13  2022-01-14  ...  2022-03-30  2022-03-31  \
Attributes Symbols                          ...
Adj Close  VNG.BK     7.950000    7.750000  ...        7.35        7.40
           TTA.BK    10.400000    9.950000  ...        9.50        9.45
           PSL.BK    17.605465   16.730055  ...       17.00       17.10
           SCC.BK   390.000000  389.000000  ...      382.00      383.00
           BBL.BK   129.000000  129.000000  ...      137.00      137.00
...                        ...         ...  ...         ...         ...
Volume     MYL             NaN         NaN  ...         NaN         NaN
           NBL             NaN         NaN  ...         NaN         NaN
           TIF             NaN         NaN  ...         NaN         NaN
           VAR             NaN         NaN  ...         NaN         NaN
           WLTW            NaN         NaN  ...         NaN         NaN

Date                2022-04-01  2022-04-04  2022-04-05  2022-04-06  \
Attributes Symbols
Adj Close  VNG.BK         7.30    7.300000        7.25         NaN
           TTA.BK         9.55    9.200000        9.00         NaN
           PSL.BK        17.50   17.299999       16.40         NaN
           SCC.BK       383.00  384.000000      383.00         NaN
           BBL.BK       137.50  137.500000      138.50         NaN
...                        ...         ...         ...         ...
Volume     MYL             NaN         NaN         NaN         NaN
           NBL             NaN         NaN         NaN         NaN
           TIF             NaN         NaN         NaN         NaN
           VAR             NaN         NaN         NaN         NaN
           WLTW            NaN         NaN         NaN         NaN

Date                2022-04-07  2022-04-08  2022-04-11  2022-04-12
Attributes Symbols
Adj Close  VNG.BK         7.25        7.25         7.2         7.2
           TTA.BK         8.75        8.90         8.8         8.9
           PSL.BK        15.50       15.90        15.5        15.7
           SCC.BK       371.00      368.00       364.0       363.0
           BBL.BK       137.00      136.50       135.5       135.0
...                        ...         ...         ...         ...
Volume     MYL             NaN         NaN         NaN         NaN
           NBL             NaN         NaN         NaN         NaN
           TIF             NaN         NaN         NaN         NaN
           VAR             NaN         NaN         NaN         NaN
           WLTW            NaN         NaN         NaN         NaN

[5430 rows x 72 columns]

In [11]:
data_final.to_csv("../DATA/data_tickers.csv")

In [23]:
DF_COMPANY_FINAL = DF_COMPANY.tail()
DF_COMPANY_FINAL = DF_COMPANY_FINAL.transpose()
DF_COMPANY_FINAL

Date                2022-04-06  2022-04-07  2022-04-08  2022-04-11  2022-04-12
Attributes Symbols
Adj Close  VNG.BK          NaN        7.25        7.25         7.2         7.2
           TTA.BK          NaN        8.75        8.90         8.8         8.9
           PSL.BK          NaN       15.50       15.90        15.5        15.7
           SCC.BK          NaN      371.00      368.00       364.0       363.0
           BBL.BK          NaN      137.00      136.50       135.5       135.0
...                        ...         ...         ...         ...         ...
Volume     MYL             NaN         NaN         NaN         NaN         NaN
           NBL             NaN         NaN         NaN         NaN         NaN
           TIF             NaN         NaN         NaN         NaN         NaN
           VAR             NaN         NaN         NaN         NaN         NaN
           WLTW            NaN         NaN         NaN         NaN         NaN

[5430 rows x 5 columns]

DF_COMPANY_FINAL SERA EL DATAFRAME DEL QUE USAREMOS LOS DATOS ETC

In [24]:
DF_COMPANY_FINAL.to_csv("../DATA/data_tickers_semanal.csv")