In [164]:
import os
import pandas as pd
import numpy as np

In [165]:
os.listdir("../DATA")

['.DS_Store',
 'data_tickers_semanal.csv',
 'data_tickers.csv',
 'tickers.xls',
 'data_tickers_limpio.csv']

In [166]:
data_tickers_final = pd.read_csv("../DATA/data_tickers_semanal.csv")

In [167]:
data_tickers_final

,Attributes,Symbols,2022-04-06,2022-04-07,2022-04-08,2022-04-11,2022-04-12
0,Adj Close,VNG.BK,NaN,7.25,7.25,7.2,7.2
1,Adj Close,TTA.BK,NaN,8.75,8.90,8.8,8.9
2,Adj Close,PSL.BK,NaN,15.50,15.90,15.5,15.7
3,Adj Close,SCC.BK,NaN,371.00,368.00,364.0,363.0
4,Adj Close,BBL.BK,NaN,137.00,136.50,135.5,135.0
...,...,...,...,...,...,...,...
5425,Volume,MYL,NaN,NaN,NaN,NaN,NaN
5426,Volume,NBL,NaN,NaN,NaN,NaN,NaN
5427,Volume,TIF,NaN,NaN,NaN,NaN,NaN
5428,Volume,VAR,NaN,NaN,NaN,NaN,NaN
5429,Volume,WLTW,NaN,NaN,NaN,NaN,NaN

In [168]:
data_tickers_final = data_tickers_final.groupby(by = ["Symbols","Attributes"]).sum()

In [169]:
data_tickers_final.to_csv("../DATA/data_tickers_limpio.csv")

In [170]:
data_tickers_final = pd.read_csv("../DATA/data_tickers_limpio.csv")

In [171]:
data_tickers_final

,Symbols,Attributes,2022-04-06,2022-04-07,2022-04-08,2022-04-11,2022-04-12
0,0001.HK,Adj Close,56.950001,55.900002,56.500000,56.950001,56.400002
1,0001.HK,Close,56.950001,55.900002,56.500000,56.950001,56.400002
2,0001.HK,High,57.500000,56.700001,56.500000,56.950001,57.000000
3,0001.HK,Low,56.700001,55.099998,55.599998,55.849998,56.200001
4,0001.HK,Open,57.200001,56.400002,55.900002,56.599998,57.000000
...,...,...,...,...,...,...,...
5425,ZURN.SW,Close,454.200012,452.799988,443.500000,455.899994,454.100006
5426,ZURN.SW,High,457.500000,456.899994,443.500000,455.899994,455.399994
5427,ZURN.SW,Low,451.000000,452.299988,435.000000,444.899994,449.100006
5428,ZURN.SW,Open,454.000000,454.500000,438.500000,445.000000,451.100006
5429,ZURN.SW,Volume,384386.000000,518857.000000,905005.000000,757789.000000,168585.000000

In [172]:
data_tickers_final_para_plots = data_tickers_final.copy()

In [173]:
"""
lista = ["High","Low"]

for i in data_tickers_final_para_plots["Attributes"]:
    if i not in lista:
        data_tickers_final_para_plots = data_tickers_final_para_plots.drop()
    """

'\nlista = ["High","Low"]\n\nfor i in data_tickers_final_para_plots["Attributes"]:\n    if i not in lista:\n        data_tickers_final_para_plots = data_tickers_final_para_plots.drop()\n    '

In [174]:
data_tickers_final_para_plots = data_tickers_final_para_plots.set_index("Attributes")

In [175]:
data_tickers_final_para_plots = data_tickers_final_para_plots.drop("Adj Close", axis = 0)
data_tickers_final_para_plots = data_tickers_final_para_plots.drop("Close", axis = 0)
data_tickers_final_para_plots = data_tickers_final_para_plots.drop("Open", axis = 0)
data_tickers_final_para_plots = data_tickers_final_para_plots.drop("Volume", axis = 0)

In [176]:
data_tickers_final_para_plots

,Symbols,2022-04-06,2022-04-07,2022-04-08,2022-04-11,2022-04-12
Attributes,,,,,,
High,0001.HK,57.500000,56.700001,56.500000,56.950001,57.000000
Low,0001.HK,56.700001,55.099998,55.599998,55.849998,56.200001
High,0002.HK,76.650002,76.800003,77.099998,77.099998,77.250000
Low,0002.HK,75.849998,76.050003,76.349998,76.500000,76.699997
High,0003.HK,9.460000,9.390000,9.300000,9.250000,9.200000
...,...,...,...,...,...,...
Low,ZION,63.169998,62.009998,63.020000,63.840000,0.000000
High,ZTS,192.330002,199.339996,201.320007,199.880005,0.000000
Low,ZTS,186.520004,190.970001,197.589996,192.009995,0.000000
High,ZURN.SW,457.500000,456.899994,443.500000,455.899994,455.399994
Low,ZURN.SW,451.000000,452.299988,435.000000,444.899994,449.100006

In [177]:
data_tickers_final_para_plots.isnull().sum()

Symbols       0
2022-04-06    0
2022-04-07    0
2022-04-08    0
2022-04-11    0
2022-04-12    0
dtype: int64

In [178]:
data_tickers_final_para_plots = data_tickers_final_para_plots.groupby(by=['Symbols',"Attributes"]).sum()

In [179]:
data_tickers_final_para_plots

                    2022-04-06  2022-04-07  2022-04-08  2022-04-11  2022-04-12
Symbols Attributes
0001.HK High         57.500000   56.700001   56.500000   56.950001   57.000000
        Low          56.700001   55.099998   55.599998   55.849998   56.200001
0002.HK High         76.650002   76.800003   77.099998   77.099998   77.250000
        Low          75.849998   76.050003   76.349998   76.500000   76.699997
0003.HK High          9.460000    9.390000    9.300000    9.250000    9.200000
...                        ...         ...         ...         ...         ...
ZION    Low          63.169998   62.009998   63.020000   63.840000    0.000000
ZTS     High        192.330002  199.339996  201.320007  199.880005    0.000000
        Low         186.520004  190.970001  197.589996  192.009995    0.000000
ZURN.SW High        457.500000  456.899994  443.500000  455.899994  455.399994
        Low         451.000000  452.299988  435.000000  444.899994  449.100006

[1810 rows x 5 columns]

DATAFRAME CON LOS NOMBRES DE LAS EMPRESAS

In [5]:
import os 
import pandas as pd

In [6]:
os.listdir("../DATA")

['.DS_Store',
 'data_tickers_semanal.csv',
 'data_tickers.csv',
 'tickers.xls',
 'data_tickers_limpio.csv',
 'NOMBRE EMPRESAS STOCK MARKET.csv']

In [9]:
nombres_empresas = pd.read_csv("../DATA/NOMBRE_EMPRESAS_STOCK_MARKET.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 196, saw 2